apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  labels:
    app: eureka-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
      - name: eureka-server
        image: eureka-server:latest
        ports:
        - containerPort: 8761
        env:
        - name: JAVA_OPTS
          value: "-Xmx512m"
---
apiVersion: v1
kind: Service
metadata:
  name: eureka-server-service
spec:
  selector:
    app: eureka-server
  ports:
  - port: 8761
    targetPort: 8761
  type: ClusterIP
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: eureka-server-route
spec:
  to:
    kind: Service
    name: eureka-server-service
  port:
    targetPort: 8761